

@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.navbar-logo {
    width: 80px;
    height: 70px;
}

#navItem1 {
    color: white;
    font-family: "Roboto";
}

#navItem2 {
    color: white;
    font-family: "Roboto";
}

#navItem3 {
    color: white;
    font-family: "Roboto";
}

#navItem4 {
    color: white;
    font-family: "Roboto";
}

#navItem5 {
    color: white;
    font-family: "Roboto";
}

#navItem6 {
    color: white;
    font-family: "Roboto";
}

.home-page-container {
    background-color: #191a1d;
    font-family: "Roboto";
    margin-top: 100px;
}

.homepage-heading {
    color: white;
    font-size: 55px;
}

.homepage-paragraph {
    color: white;
    font-size: 21px;
}

.innovation-span-style {
    color: #33cccc;
}

.homepage-card {
    margin: 13px;
    padding: 30px;
    background-color: #323f4b;
    border-radius: 15px;
}

.homepage-card-heading {
    color: white;
    margin-top: 10px;
    font-size: 38px;
    font-style: italic;
}

.homepage-card-paragraph {
    color: white;
    font-size: 18px;
    padding-top: 13px;
    padding-bottom: 13px;
    font-style: italic;
}

.startup-span-style {
    color: #ffff66;
}

.innovation-garage-image {
    height: 300px;
    width: 130px;
    margin-right: 80px;
}

.firefly-image {
    height: 100px;
    width: 160px;
    margin-top: 80px;
    margin-left: 150px;
}

.Events-image {
    height: 250px;
    width: 200px;
}

.homepage-card-info-section-1 {
    margin-left: 40px;
    margin-right: 100px;
}

.homepage-card-info-section-2 {
    margin-left: 200px;
}

.custom-button {
    color: white;
    font-weight: 600;
    font-size: 19px;
    background-color: #33cccc;
    padding: 10px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-color: #323f4b;
}

.button-anchor {
    color: white;

}

.startup-page-container {
    font-family: "Roboto";
    background-color: #3e4c59;
}

.startup-span-style {
    color: #33cccc;
}

.startuppage-heading {
    color: white;
}

.nav-info-style {
    font-weight: 700;
    font-family: "Roboto";
    font-size: 18px;
}

.startup-heading {
    font-size: 50px;
    font-weight: 900;
    font-family: "Roboto";
}

.startup-image {
    width: 500px;
}

.startup-skylark-logo {
    height: 290px;
    width: 100%;
    border-radius: 20px;
}

.startup-cusmat-logo {
    height: 290px;
    width: 100%;
    border-radius: 20px;
}

.startup-gbit-logo {
    width: 100%;
    height: 290px;
    border-radius: 20px;
}

.startup-name {
    font-size: 26px;
    color: white;
}

.startup-ig-card {
    text-align: center;
    border-radius: 20px;
    margin: 20px;
    background-color: #323f4b;
}

.startup-game-card {
    background-color: #323f4b;
    border-radius: 20px;
    margin: 15px;
}

.projects-page-container {
    background-color: #191a1d;
    font-family: "Roboto";
}

.projects-heading {
    color: white;
}

.project-description {
    color: white;
}

.game-image {
    width: 100%;
    height: 220px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.game-name {
    color: white;
    font-size: 26px;
}

.podcasts-page-container {
    font-family: "Roboto";
    background-color: #323f4b;
}

.podcast-main-heading {
    color: white;
}

.contact-us-container {
    background-color: #001c32;
    font-family: "Roboto";
}

.icon-1 {
    color: #5a7184;
    font-size: 18px;
    margin: 5px;
}

.main-heading-1 {
    color: #cced00;
    font-size: 30px;
}

.main-info {
    color: #5a7184;
    font-size: 18px;
}

.footer-container {
    background-color: #0d2436;
    font-family: "Roboto";
}

.ig-logo {
    height: 150px;
}

.special-image {
    color: #33cccc;
    font-size: 40px;
}
